# 시리즈 만들기

### 시리즈 만들기

In [1]:
import pandas as pd

### 시리즈 만들기

In [14]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object

### 시리즈에 인덱스 문자열로 추가하기

In [16]:
s = pd.Series(['Wes McKinsey', 'Creator of Pandas'], index = ['Person', 'Who'])
print(s)

Person         Wes McKinsey
Who       Creator of Pandas
dtype: object

# 데이터프레임 만들기

### 딕셔너리 활용하여 데이터 프레임 만들기

In [17]:
s = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'Age': [37, 61]
})
print(s)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

### 인덱스와 컬럼값 지정하기

In [23]:
s = pd.DataFrame(
    data = {'Name': ['Rosaline Franklin', 'William Gosset'],
            'Occupation': ['Chemist', 'Statistician'],
            'Born': ['1920-07-25', '1876-06-13'],
            'Died': ['1958-04-16', '1937-10-16'],
            'Age': [37, 61]},
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation', 'Born', 'Age', 'Died']
)
print(s)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

### OrderedDict 불러오기 명령어

In [53]:
from collections import OrderedDict

### OrderedDict 활용하여 데이터 순서 지정하기

In [55]:
s = pd.DataFrame(OrderedDict([
    ('Name', ['Rosaline Frnaklin', 'William Gosset']),
    ('Occupation', ['Chemist', 'Statistician']),
    ('Born', ['1920-07-25', '1876-06-13']),
    ('Died', ['1958-04-16', '1937-10-16']),
    ('Age', [37, 61])
])
)
print(s)

                Name    Occupation        Born        Died  Age
0  Rosaline Frnaklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 데이터프레임에서 시리즈 선택하기

### scientists 데이터프레임 입력하기

In [57]:
s = pd.DataFrame(
    data = {'Occupation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Age': [37, 61],
    'Died': ['1958-04-16', '1937-10-16']},
    index = ['Rosanline Franklin', 'William Gosset']
)
print(s)

                      Occupation        Born  Age        Died
Rosanline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset      Statistician  1876-06-13   61  1937-10-16

### 'William Gosset' 행만 추출하여 속성 확인하기 (first_row = )

In [64]:
first_row = s.loc['William Gosset']
print(type(first_row))

<class 'pandas.core.series.Series'>

### 'first_row' 프린트하기

In [68]:
print(first_row)

Occupation    Statistician
Born            1876-06-13
Age                     61
Died            1937-10-16
Name: William Gosset, dtype: object

# index, values, keys 사용하기

### 'first_row'의 index 속성 사용하기

In [69]:
print(first_row.index)

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

### 'first_row'의 values 속성 사용하기

In [70]:
print(first_row.values)

['Statistician' '1876-06-13' 61 '1937-10-16']

### 'first_row'의 keys 메서드 사용하기

In [71]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

### 'first_row'의 index 속성 중 첫 번째 값 추출하기

In [72]:
print(first_row.index[0])

Occupation

### 'first_row'의 keys 메서드 중 첫 번째 값 추출하기

In [73]:
print(first_row.keys()[0])

Occupation

# 시리즈의 mean, min, max, std 메서드 사용하기

### scientist 데이터프레임에서 'Ags' 컬럼만 추출하기 (ages = )

In [79]:
ages = s['Age']
print(ages)

Rosanline Franklin    37
William Gosset        61
Name: Age, dtype: int64

### 'ages' 중 mean 메서드 사용하기

In [80]:
print(ages.mean())

49.0

### 'ages' 중 min 메서드 사용하기

In [81]:
print(ages.min())

37

### 'ages' 중 max 메서드 사용하기

In [82]:
print(ages.max())

61

### 'ages' 중 std 메서드 사용하기

In [83]:
print(ages.std())

16.97056274847714

# 시리즈와 불린 추출 사용하기

### 'scientists.csv' 파일 불러오기 (scientists = )

In [84]:
s = pd.read_csv('C:\\GitHub\\pandas\\data\\scientists.csv')

### 'Age' 컬럼만 추출하여 max와 mean 메서드 적용하기

In [85]:
ages = s['Age']
print(ages.max())
print(ages.mean())

90
59.125

### 평균 나이보다 더 많은 사람의 나이 데이터만 추출하기

In [87]:
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

### 평균 나이보다 더 많은지 True/False 확인하기

In [88]:
print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

### 불린 추출하기 (순서: True, True, False, False, True, True, False, True) (manual_bool_values = )

In [90]:
manual_bool_values = [True, True, False, False, True, True, False, True]
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅

### ages 벡터와 ages 벡터 더하기

In [91]:
print(ages + ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

### ages 벡터와 ages 벡터 곱하기

In [92]:
print(ages * ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

### ages 벡터에 스칼라 100 더하기

In [93]:
print(ages * 100)

0    3700
1    6100
2    9000
3    6600
4    5600
5    4500
6    4100
7    7700
Name: Age, dtype: int64

### ages 벡터에 2배 곱하기

In [94]:
print(ages * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

### 시리즈 만들기 [1, 100]

In [98]:
print(pd.Series([1, 100]))

0      1
1    100
dtype: int64

### ages 벡터와 위의 시리즈 더하기

In [99]:
print(ages + pd.Series([1, 100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

### ages 벡터를 내림 차순으로 정렬하기 (rev_ages = )

In [102]:
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

### ages 벡터와 rev_ages 벡터 더하기

In [103]:
print(ages + rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# 데이터프레임과 불린 추출

# 데이터프레임과 브로드캐스팅

# 열의 자료형 바꾸기와 새로운 열 추가하기

# 시리즈, 데이터프레임의 데이터 섞어보기

# 데이터프레임의 열 삭제하기

# 피클 형식으로 저장하기

# CSV 불러오기